{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "styles": "scss/"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ],
    ["@babel/plugin-proposal-class-properties"],
  ],  
  "sourceMaps": true,
  "retainLines": true,
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}